{{extend 'layout.html'}}
{{from datetime import date}}
{{from datetime import timedelta}}
    {{if auth.user_id is None:}}
        <div class="logo">
            <img alt="Kalendar-logo" id="kalendar-logo" src="/finalproject/static/images/kalendar.png">
        </div>
        <body id="kalendar-bgd" background="/finalproject/static/images/calendar_icon1.jpg">
        <h1 id="catchphrase">Planning Made Easy.</h1>
        <div class ="main_login">
            <!--These are the buttons-->
            {{=A('Sign In', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['login']))}}
            {{=A('Sign Up', _class='btn btn-info btn-lg', _href=URL('default', 'user', args=['register']))}}
        </div>
    </body>
    <div class="container-flex">
        <table class="descs" style="width: 100%">
            <tr>
                <td class="descEvents" id="descTd">
                    <i class="fa fa-pencil-square-o fa-4x" id="decsIcons"></i>
                    <h2>Create Events</h2>
                    <p>Creating events have never been easier.
                        You can create an event with a click of a button.</p>
                </td>
                <td class="descCalendars"id="descTd">
                    <i class="fa fa-calendar fa-4x"id="decsIcons"></i>
                    <h2>Create Different Calendars</h2>
                    <p>Everyone knows what a busy person you are.
                        Create calendars for each different part of your life.</p>
                </td>
                <td class="descShare"id="descTd">
                    <i class="fa fa-users fa-4x"id="decsIcons"></i>
                    <h2>Share It with Your Friends</h2>
                    <p>With Kalendar you can share your calendars with your friends,
                    just by clicking the Share button.</p>
                </td>
            </tr>
         </table>
    </div>
    {{else:}}
        <div class="main_btn_index">
            {{=A('Go To Shared', _class='btn btn-primary outline', _href=URL('default', 'shared'))}}
            {{=A('Create Calendar', _class='btn btn-primary outline', _href=URL('default', 'add_calendar'))}}
        </div>
        <div class="no-calendars">
            {{if not calendar_list:}}
                <p class="no-cals">No calendars yet</p>
                {{pass}}
        </div>
        <div class="calendar_list">
            {{today = date.today()}}
            {{for calendar in calendar_list:}}

        <div id="target"></div>
                <table  class="calendar" style="width:100%">
                    <tr>
                        <h2 class="weekname">This Week In {{=(A(calendar.name, _href=URL('month', args=[calendar.id])))}}           {{=calendar.start_date.strftime("%m/%d")}}-{{=calendar.end_date.strftime("%m/%d")}}</>
                    </tr>
                    <tr>
                        <th class="day1">
                            {{=today.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="buttons">
                        </th>
                    </tr>
                    <tr class="week-color">
                        <td class="day1">
                            {{newday = today + timedelta(days=0)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                <div id="day1_ev">
                                    <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                    <span id="i_title">{{=event.title}}</span></br>
                                    <span id="i_desc">{{=event.description}}</span>
                                </div>
                                {{pass}}
                            {{pass}}
                        </td>

                        <td class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        <td class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="buttons">
                            <p>{{=A('Delete', _class='btn btn-primary btn-xs', _href=URL('default', 'delete_calendar', args=[calendar.id]))}}</p>
                            <p>{{=A('Edit', _class='btn btn-primary btn-xs', _href=URL('default', 'edit_calendar', args=[calendar.id]))}}</p>
                            <p>{{=A('Duplicate', _class='btn btn-primary btn-xs', _href=URL('default', 'duplicate_calendar', args=[calendar.id]))}}</p>
                            </td>

                    <script id="template" type="text/ractive">
                    <div id='ractive_btn'>
                        <input class="btn btn-primary outline"  type="submit" value="Merge" on-click="btn_merge">
                        <input class="btn btn-primary outline"  type="submit" value="Share" on-click="btn_share">
                    </div>
                    <div id="entryform" style="display: none">
                    Select calendars to merge:
                    {% #calendar_list: i%}
                        <input type="checkbox" name="vehicle" on-click="select" data-areaid="{% calendar_uid %}">   {% calendar_name %}
                    {% /calendar_list %}
                    <input class="btn btn-primary" type="submit" value="merge" on-click="merge"/>
                    </div>
                     <div id="shareform" style="display: none">
                    Select calendars to merge:
                    {% #calendar_list: i%}
                        <input type="checkbox" name="vehicle" on-click="select_share" data-shareid="{% calendar_uid %}">    {% calendar_name %}
                    {% /calendar_list %}
                    <input type="text" value="{% active_draft%}"/>
                    <input class="btn btn-primary" type="submit" value="Share" on-click="share"/>
                    </div>
                    </tr>
                 </script>
                </table>
            {{pass}}
        </div>
    {{pass}}


<script>
    $(function() {
// Ractive object
        var MAIN = new Ractive({
            isolated: true,
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                share_id:'',
                calendar_list:{},
                marked_calendars:[],
                calendar_id:'',
                active_draft:"Email",
                author:"",
                mc:'',
                arrdel:" ",
                arridx: " ",
                merged_yes:false,
                name:"Hello"
            },
        });

        function share_calendar(email){
            var calid = MAIN.get('share_id');
            $.ajax("{{=URL('default', 'share_calendar')}}",
                {
                    data:{
                        email:email, //request.vars.email
                        calendar:calid, //request.vars.calendar
                    },
                    method: 'POST',
                }
            );
        }

        MAIN.on("btn_merge", function(e) {
            $("#entryform").slideDown(1000);
        });

        MAIN.on("merge", function(e) {
            $("#entryform").slideUp(1000);
            marked = MAIN.get("marked_calendars");
            send_message(marked);
        });

        MAIN.on("btn_share", function(e) {
            $("#shareform").slideDown(1000);
        });

        MAIN.on("select_share", function(e){
            var calendarid = $(e.node).data("shareid");
            MAIN.set('share_id',calendarid);
        });

        MAIN.on("share", function(e) {
            $("#shareform").slideUp(1000);
            var email = MAIN.get('active_draft');
            //var calendarid = $(e.node).data("shareid");
            if($.trim('email').length >0){
                share_calendar(email);
                MAIN.set('active_draft', 'New Post');
                //alert(calendarid);
                //MAIN.set('share_id', calendarid);
            }
        });

        function send_message(marked_list) {
            $.ajax("{{=URL('default', 'merge_calendars')}}",
            {
              data: {
                  marked_calendars: marked_list, // request.vars.msg
              },
              method: 'POST',
              success: function() {
                  MAIN.set("merged_yes", true);
                  periodic_send();
                // Reflect in the list of drafts or messages the update sent to the server.
              },
              error: function() {
              }
            });
        }

        function periodic_send() {
            var calendar_list = MAIN.get('calendar_list');
            var merged=MAIN.get('merged_yes');
            if(merged){
                $.ajax("{{=URL('default', 'show_calendars')}}",
                {
                    method: 'POST',
                    success: function (data) {
                        MAIN.set('calendar_list', data['calendar_list']);
                    }
                }
        );
            }

         }
        MAIN.on("select", function(e){
            var calendarid = $(e.node).data("areaid");
            MAIN.set('calendar_id',calendarid);
            var mc = MAIN.get('marked_calendars');
            var unm = mc.indexOf(calendarid) < 0;
            if(unm){
                l=mc.length;
                mc[l] = calendarid;
                MAIN.set('marked_calendars', mc);

            }else{
                var index = mc.indexOf(calendarid);
                a.splice(index, 1);
                MAIN.set('arrdel', arraydel);
                arrayidx = arrayidx-1;
                MAIN.set('arridx', arrayidx);
            }
        });
        $.ajax("{{=URL('default', 'show_calendars')}}",
                {
                    method: 'POST',
                    success: function (data) {
                        MAIN.set('calendar_list', data['calendar_list']);
                    }
                }
        );
    });
</script>
