{{response.files.append(URL(r=request,c='static',f='js/ui.core.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.draggable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.resizable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/fullcalendar.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/fullcalendar.css'))}}

{{from datetime import date}}
{{from datetime import timedelta}}
{{from datetime import datetime as dt}}

{{extend 'layout.html'}}
<style>
    /*today's style. Colors today's date */
    .fc-content .fc-state-highlight{
        background-color: #fcffc5;
    }
</style>

<h1 id="cal_name">{{=calendar_name}}</h1>

<div class="container">
    <div id='calendar'>
        <div id="add" class="add_icon">
        </div>
        <div id="addM" class="add_icon">
        </div>
        <div id="addTu" class="add_icon">
        </div>
        <div id="addW" class="add_icon">
        </div>
        <div id="addTh" class="add_icon">
        </div>
        <div id="addF" class="add_icon">
        </div>
        <div id="addSa" class="add_icon">
        </div>

    </div>
</div>
<script type='text/javascript'>
  jQuery(document).ready(function() {
      $("#add").hide();
      $("#addM").hide();
        var evnts= [
        //This shows all of the events in onetimeevents db.
            {{for event in onetimeevents:}}
                {{if event.recurring is not True:}}
                    {
                        id:'{{=event['id']}}',
                        title:  '{{=event['title']}}',
                        start: '{{=event['date_occur']}},{{=event['start_time']}}',
                        end: '{{=event['date_occur']}},{{=event['end_time']}}',
                        description: '{{=event['description']}}',
                        rendering:'background',
                    },
                {{else:}}
                    {{curday = event.date_occur}}
                    {{calendar = db.calendar(request.args(0))}}
                    {{endday = calendar.end_date}}
                    {{while curday <= endday:}}
                        {
                            id:'{{=event['id']}}',
                            title:  '{{=event['title']}}',
                            start: '{{=curday}}, {{=event['start_time']}}',
                            end: '{{=curday}}, {{=event['end_time']}}',
                            description: '{{=event['description']}}',
                            rendering:'background',
                        },
                        {{curday = curday + timedelta(days=7)}}
                    {{pass}}
                {{pass}}
            {{pass}}
        ];

        $('#calendar').fullCalendar({
            editable: false,
            header:{
                left: 'today',
                center: 'prev, title, next',
                right: 'month,basicWeek'
            },

            events: evnts,
            defaultView: 'month',

            //This happens when you click on a day
            dayClick: function(date, allDay, jsEvent,view) {
                var x=$("#add").show();
                if (view.name=='basicWeek'){
                    //Move this code to viewrender when it starts working.
                  //  $('th').append(x);
                }else if(view.name=='month'){
                    // This colors the week to grey. There is no dayMouseOver.
                    $(this).parent().siblings().removeClass("week-highlight");
                    $(this).parent().addClass("week-highlight");
                    //This takes us to weekview of said day that you clicked on.
                    $('#calendar').fullCalendar('gotoDate', date);
                    $('#calendar').fullCalendar('changeView', 'basicWeek');

                }
            },

            viewDisplay: function(view){
                if (view.name=='basicWeek'){
                    //This adds the add_event icon to each day of the week.
                    //Doesn't display it right when there is an event already.
                    var date= String(view.start);

                    var y = date.slice(11,15);

                    var m =0;
                    var month = date.slice(4,7);

                    var d= date.slice(8,10);
                    var dM= parseInt(d)+1;
                    var dTu= parseInt(d)+2;
                    var dW= parseInt(d)+3;
                    var dTh= parseInt(d)+4;
                    var dF= parseInt(d)+5;
                    var dSa= parseInt(d)+6;

                    var addurl = "<a id='add' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + d + "'></a>";
                    var addurlM = "<a id='addM' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dM+ "'></a>";
                    var addurlTu = "<a id='addTu' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dTu+ "'></a>";
                    var addurlW = "<a id='addW' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dW+ "'></a>";
                    var addurlTh = "<a id='addTh' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dTh+ "'></a>";
                    var addurlF = "<a id='addF' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dF+ "'></a>";
                    var addurlSa = "<a id='addSa' class='fa fa-plus' href='{{=URL('default','add_event', args=[request.args(0)])}}" + "/" + y + "/" + month + "/" + dSa+ "'></a>";
                      var su=$("#add").append(addurl).show();
                        var m=$("#addM").append(addurlM).show();
                        var tu=$("#addTu").append(addurlTu).show();
                        var w=$("#addW").append(addurlW).show();
                        var th=$("#addTh").append(addurlTh).show();
                        var f=$("#addF").append(addurlF).show();
                        var sa=$("#addSa").append(addurlSa).show();
                    if(($('th').find("#add").length)%14 ==0 || (($('th').find("#add").length)%1)%14 ==0){

                        $('th.fc-sun').append(su);
                        $('th.fc-mon').append(m);
                        $('th.fc-tue').append(tu);
                        $('th.fc-wed').append(w);
                        $('th.fc-thu').append(th);
                        $('th.fc-fri').append(f);
                        $('th.fc-sat').append(sa);
                    }
                }else if(view.name=="month"){
                    //This removes the add_event icon from month view,
                    // but if you go back to weekView it doesn't show up anymore.
                    if($('th').find("#add").length) {
                        $('th.fc-sun').find("#add").hide();
                        $('th.fc-mon').find("#addM").hide();
                        $('th.fc-tue').find("#addTu").hide();
                        $('th.fc-wed').find("#addW").hide();
                        $('th.fc-thu').find("#addTh").hide();
                        $('th.fc-fri').find("#addF").hide();
                        $('th.fc-sat').find("#addSa").hide();
                    }
                }
            },

            eventRender:function(event,element,view){
                //var eventid = event.id;
                if (view.name=='basicWeek') {
                    var delurl = "<a id='delete' class='fa fa-trash' href='{{=URL('default','delete_event', args=[request.args(0)])}}" + "/" + event.id+ "'></a>";
                    var editurl = "<a id='edit' class='fa fa-pencil' href='{{=URL('default','edit_event', args=[request.args(0)])}}" + "/" + event.id+ "'></a>";
                    element.find('.fc-event-title').before(delurl);
                    element.find('.fc-event-title').before(editurl);
                    if(event.start){
                        var s= ""+ event.start;
                        var sstr= s.slice(16,21);
                        var e= ""+ event.end;
                        var estr= e.slice(16,21);
                         element.find('.fc-event-title').before("<b class='start_time'>" + sstr + "-" + estr + "</b>");
                    }

                    if (event.description) {
                        element.find('.fc-event-title').after("<i class='desc'><br>" + event.description + "</br></i>");
                    }

                }else if(view.name=="month"){
                    if(event.start){
                        var s= ""+ event.start;
                        var sstr= s.slice(16,21);
                        var e= ""+ event.end;
                        var estr= e.slice(16,21);
                         element.find('.fc-event-title').before("<b class='start_time'>" + sstr + "-" + estr + "</b>");
                    }
                }
            },
            //SVETA
            //not working the way it should. i tried everything: http://jsfiddle.net/z8Jfx/7/
            dayRender: function(date, cell) {
                var today = new Date();
                var end = new Date();
                end.setDate(today.getDate()+7);
                if (date.getDate() === today.getDate()) {
                    cell.css("background-color", "red");
                }
                if(date > today && date <= end) {
                    cell.css("background-color", "yellow");
                }
            },
        });
        $('#calendar').fullCalendar('render');

    });
</script>