{{response.files.append(URL(r=request,c='static',f='js/ui.core.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.draggable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.resizable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/fullcalendar.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/fullcalendar.css'))}}

{{from datetime import date}}
{{from datetime import timedelta}}
{{from datetime import datetime as dt}}

{{extend 'layout.html'}}
<style>
    .week-highlight{
        background-color: grey;
    }
    /*today's style. Colors today's date */
    .fc-content .fc-state-highlight{
        background-color: lightblue;
    }
</style>

<h1>My calendar</h1>


<div>
{{=A('Back to Calendars', _class='btn btn-primary', _href=URL('default', 'index'))}}</div>
<div class="container">
    <div id='calendar'>
        <div id="add" class="add_icon">
        </div>
        <div id="addM" class="add_icon">
        </div>
        <div id="addTu" class="add_icon">
        </div>
        <div id="addW" class="add_icon">
        </div>
        <div id="addTh" class="add_icon">
        </div>
        <div id="addF" class="add_icon">
        </div>
        <div id="addSa" class="add_icon">
        </div>

    </div>
</div>
<script type='text/javascript'>
  jQuery(document).ready(function() {
      $("#add").hide();
      $("#addM").hide();
        var evnts= [
        //This shows all of the events in onetimeevents db.
            {{for event in onetimeevents:}}
                {{if event.recurring is not True:}}
                    {
                        id:'{{=event['id']}}',
                        title:  '{{=event['title']}}',
                        start: '{{=event['date_occur']}},{{=event['start_time']}}',
                        end: '{{=event['date_occur']}},{{=event['end_time']}}',
                        description: '{{=event['description']}}',
                        rendering:'background',
                    },
                {{else:}}
                    {{curday = event.date_occur}}
                    {{calendar = db.calendar(request.args(0))}}
                    {{endday = calendar.end_date}}
                    {{while curday <= endday:}}
                        {
                            id:'{{=event['id']}}',
                            title:  '{{=event['title']}}',
                            start: '{{=curday}}, {{=event['start_time']}}',
                            end: '{{=curday}}, {{=event['end_time']}}',
                            description: '{{=event['description']}}',
                            rendering:'background',
                        },
                        {{curday = curday + timedelta(days=7)}}
                    {{pass}}
                {{pass}}
            {{pass}}
        ];

        $('#calendar').fullCalendar({
            editable: false,
            header:{
                left: 'today',
                center: 'prev, title, next',
                right: 'month,basicWeek'
            },

            events: evnts,
            defaultView: 'month',

            //This happens when you click on a day
            dayClick: function(date, allDay, jsEvent,view) {
                var x=$("#add").show();
                if (view.name=='basicWeek'){
                    //Move this code to viewrender when it starts working.
                  //  $('th').append(x);
                }else if(view.name=='month'){
                    // This colors the week to grey. There is no dayMouseOver.
                    $(this).parent().siblings().removeClass("week-highlight");
                    $(this).parent().addClass("week-highlight");
                    //This takes us to weekview of said day that you clicked on.
                    $('#calendar').fullCalendar('gotoDate', date);
                    $('#calendar').fullCalendar('changeView', 'basicWeek');

                }
            },


            eventRender:function(event,element,view){
                //var eventid = event.id;
                if (view.name=='basicWeek') {
                    if(event.start){
                        var s= ""+ event.start;
                        var sstr= s.slice(16,21);
                        var e= ""+ event.end;
                        var estr= e.slice(16,21);
                         element.find('.fc-event-title').before("<b class='start_time'>" + sstr + "-" + estr + "</b>");
                    }
                    if (event.description) {
                        element.find('.fc-event-title').after("<i class='desc'><br>" + event.description + "</br></i>");
                    }
                }
            },
            //SVETA
            //not working the way it should. i tried everything: http://jsfiddle.net/z8Jfx/7/
            dayRender: function(date, cell) {
                var today = new Date();
                var end = new Date();
                end.setDate(today.getDate()+7);
                if (date.getDate() === today.getDate()) {
                    cell.css("background-color", "red");
                }
                if(date > today && date <= end) {
                    cell.css("background-color", "yellow");
                }
            },
        });
        $('#calendar').fullCalendar('render');

    });
</script>