{{extend 'layout.html'}}
{{from datetime import date}}
{{from datetime import timedelta}}
    {{if auth.user_id is None:}}
        <div class="logo">
            <img alt="Kalendar-logo" id="kalendar-logo" src="/finalproject/static/images/kalendar.png">
        </div>
        <h1 id="catchphrase">Planning Made Easy.</h1>
        <div class ="main_login">
            <!--These are the buttons-->
            {{=A('Sign In', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['login']))}}
            {{=A('Sign Up', _class='btn btn-info btn-lg', _href=URL('default', 'user', args=['register']))}}
        </div>
    {{else:}}
        <div class="no-calendars">
            {{if not calendar_list:}}
                <p class="no-cals">No calendars yet</p>
                {{pass}}
        </div>
        <div class="my_calendar_list">
            <h1>Calendars I've Shared</h1>
            {{today = date.today()}}
            {{for calendar in calendar_list:}}
                <table  class="calendar" style="width:100%">
                    <tr>
                        <h2 class="weekname">This Week In {{=(A(calendar.name, _href=URL('shared_month', args=[calendar.id])))}}    {{=calendar.start_date.strftime("%m/%d")}}-{{=calendar.end_date.strftime("%m/%d")}}</h2>
                    </tr>
                    <tr>
                        <th class="day1">
                            {{=today.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="buttons">
                        </th>
                    </tr>
                    <tr>
                        <td class="day1">
                            {{newday = today + timedelta(days=0)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        <td class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{event_list = db((db.calendar_event.calendar==calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span></br>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="buttons">
                            <p>{{=A('Delete', _class='btn btn-primary', _href=URL('default', 'delete_calendar', args=[calendar.id],user_signature=True))}}</p>
                            <p>{{=A('Edit', _class='btn btn-primary', _href=URL('default', 'edit_calendar', args=[calendar.id],user_signature=True))}}</p>
                            <p>{{=A('Un-Share', _class='btn btn-primary btn-xs', _href=URL('default', 'privatize', args=[calendar.id],user_signature=True))}}</p>
                        </td>
                    </tr>
                </table>
            {{pass}}
        </div>

        <div class="shared_calendar_list">
            <h1>Calendars Shared With Me</h1>
            {{today = date.today()}}
            {{for shared in shared_list:}}
                <table  class="calendar" style="width:100%">
                    <tr>
                        This Week In {{=(A(shared.calendar.name, _href=URL('shared_month', args=[shared.calendar.id])))}}{{=shared.calendar.start_date}}{{=shared.calendar.end_date}}
                    </tr>
                    <tr>
                        <th class="day1">
                            {{=today.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{=newday.strftime("%A, %m/%d")}}
                        </th>
                        <th class="buttons">
                        </th>
                    </tr>
                    <tr>
                        <td class="day1">
                            {{newday = today + timedelta(days=0)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day2">
                            {{newday = today + timedelta(days=1)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day3">
                            {{newday = today + timedelta(days=2)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day4">
                            {{newday = today + timedelta(days=3)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day5">
                            {{newday = today + timedelta(days=4)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        <td class="day6">
                            {{newday = today + timedelta(days=5)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="day7">
                            {{newday = today + timedelta(days=6)}}
                            {{event_list = db((db.calendar_event.calendar==shared.calendar)).select()}}
                            {{for event in event_list:}}
                                {{if event.date_occur==newday:}}
                                    {{s= event.start_time}}
                                    {{sstr = s.strftime("%H:%M")}}
                                    {{e= event.end_time}}
                                    {{estr= e.strftime("%H:%M")}}
                                    <div id="day1_ev">
                                        <b id="i_time">{{=sstr}}-{{=estr}}</b></br>
                                        <span id="i_title">{{=event.title}}</span>
                                        <span id="i_desc">{{=event.description}}</span>
                                    </div>
                                {{pass}}
                            {{pass}}
                        </td>
                        <td class="buttons">
                            <p>{{=A('Remove Share', _class='btn btn-primary', _href=URL('default', 'remove_share', args=[shared.calendar.id]))}}</p>
                            <p>{{=A('Save Calendar', _class='btn btn-primary', _href=URL('default', 'duplicate_calendar', args=[shared.calendar.id]))}}</p>
                        </td>
                    </tr>
                </table>
            {{pass}}
        </div>
    {{pass}}