/* line 1, ../sass/_main.scss */
.container {
  margin: 10px;
}

/* line 6, ../sass/_main.scss */
.fc-event-title {
  font-size: 12px;
}

/* line 9, ../sass/_main.scss */
.bg-color {
  background-color: #d5f9c1;
}

/* line 13, ../sass/_main.scss */
div.calendar_list {
  margin-bottom: 10px;
}

/* line 17, ../sass/_main.scss */
div.forms {
  padding: 10px;
  margin: 10px;
  text-align: left;
}

/* line 23, ../sass/_main.scss */
.calendar {
  margin: 10px;
  table-layout: fixed;
}

/* line 28, ../sass/_main.scss */
#kalendar-bgd {
  width: 100%;
  height: 10%;
}

/* line 33, ../sass/_main.scss */
#cal_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 70px;
}

/* line 40, ../sass/_main.scss */
#descIcons {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

/* line 48, ../sass/_main.scss */
#web2py_user_h2 {
  vertical-align: middle;
  text-align: center;
}

/* line 52, ../sass/_main.scss */
#web2py_user_form, div.col-lg-12, div.col-lg-6, div.col-md-12 {
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

/* line 61, ../sass/_main.scss */
.navbar-header {
  height: 50px;
}

/* line 65, ../sass/_main.scss */
.container-fluid, div.col-md-12, nav.navbar, nav.navbar-inverse, nav.navbar-fixed-top {
  padding: 0px;
  padding: 0px;
  margin: 0px;
  margin: 0px;
}

/* line 72, ../sass/_main.scss */
.container-flex {
  border-top: 1px solid gainsboro;
  margin: 150px 0px 0px 0px;
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
}

/* line 81, ../sass/_main.scss */
#descTd {
  padding: 30px;
  text-align: center;
  vertical-align: middle;
}

/* line 87, ../sass/_main.scss */
.descEvents, .descCalendars {
  border-right: 2px solid gray;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/
/* line 94, ../sass/_main.scss */
.btn-xs {
  font-size: 12px;
  margin: 2px;
  line-height: .4;
  line-width: 1;
  padding: 10px 12px;
  border-radius: 1px;
}

/* line 102, ../sass/_main.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

/* line 123, ../sass/_main.scss */
.btn-lg {
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 129, ../sass/_main.scss */
.btn-primary {
  color: #057205;
  background-color: #23bd23;
  border-color: #006400;
}

/* line 135, ../sass/_main.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #057205;
  background-color: #2f982f;
  border-color: #2f982f;
}

/* line 145, ../sass/_main.scss */
.btn-info {
  color: #057205;
  background-color: #0ca50c;
  border-color: #006400;
}

/* line 151, ../sass/_main.scss */
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #057205;
  background-color: #006400;
  border-color: #006400;
}

/* line 161, ../sass/_main.scss */
.btn-default {
  color: #057205;
  background-color: #0ca50c;
  border-color: #006400;
  margin: 6px 12px;
}

/* line 168, ../sass/_main.scss */
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #057205;
  background-color: #006400;
  border-color: #006400;
}

/***********************
  OUTLINE BUTTONS
************************/
/* line 181, ../sass/_main.scss */
.btn.outline {
  background: none;
  padding: 12px 22px;
  margin-bottom: 10px;
}

/* line 186, ../sass/_main.scss */
.btn-primary.outline {
  border: 2px solid #73d473;
  color: #73d473;
}

/* line 190, ../sass/_main.scss */
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #068906;
  border-color: #068906;
}

/* line 194, ../sass/_main.scss */
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #006400;
  color: #006400;
  box-shadow: none;
}

/***********************
  RAISED BUTTONS
************************/
/* line 203, ../sass/_main.scss */
.btn-primary.raised {
  box-shadow: 0 3px 0 0 #006400;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* line 208, ../sass/_main.scss */
.btn-primary.raised:active, .btn-primary.raised.active {
  background: #075607;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/
/* line 218, ../sass/_main.scss */
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 225, ../sass/_main.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

/*---index if user is not logged in----*/
/* line 229, ../sass/_main.scss */
#kalendar-logo {
  margin: 50px auto 10px auto;
  display: block;
  width: 60%;
  background-position: 0px -500px;
}

/* line 236, ../sass/_main.scss */
#kalendar-logo-1 {
  margin: 10px auto 10px auto;
  display: block;
  width: 20%;
  background-position: 0px -400px;
}

/* line 242, ../sass/_main.scss */
#kalendar-logo-2 {
  margin: 5px auto 5px auto;
  display: inline;
  width: 12%;
  background-position: 0px -200px;
}

/* line 249, ../sass/_main.scss */
#nav-logout {
  text-decoration: none;
  font-size: 14px;
  color: white;
  text-align: right;
  margin: 5px auto 5px auto;
  position: fixed;
  top: .5em;
  right: 1em;
  position: absolute;
  /*ie6 */
}

/* line 261, ../sass/_main.scss */
#catchphrase {
  display: block;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50px;
}

/* line 268, ../sass/_main.scss */
div.main_login {
  text-align: center;
}

/* line 273, ../sass/_main.scss */
div.main_btn {
  text-align: center;
}

/* line 277, ../sass/_main.scss */
div.main_btn_index {
  text-align: center;
  margin-top: 50px;
}

/* line 281, ../sass/_main.scss */
#main_btn {
  text-align: center;
  margin-top: 50px;
}

/* line 286, ../sass/_main.scss */
#ractive_btn {
  text-align: center;
}

/* line 291, ../sass/_main.scss */
.no-cals {
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  color: whitesmoke;
  margin: 0px auto;
  text-shadow: 4px 2px 0px #348534;
}

/* line 300, ../sass/_main.scss */
#i_title {
  font-size: 22px;
  color: #0d560d;
}

/* line 304, ../sass/_main.scss */
#i_time {
  font-size: 12px;
}

/* line 307, ../sass/_main.scss */
#i_desc {
  font-size: 12px;
}

/* line 311, ../sass/_main.scss */
th.day1, th.day2, th.day3, th.day4, th.day5, th.day6, th.day7 {
  border: 2px solid darkgreen;
  text-align: center;
}

/* line 315, ../sass/_main.scss */
td.buttons {
  margin: 10px;
  text-align: left;
  margin-left: 20px;
  vertical-align: middle;
  position: inherit;
}

/* line 323, ../sass/_main.scss */
td.day1 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
}

/* line 328, ../sass/_main.scss */
#day1_ev {
  margin: 5px;
  background-color: #adf2ad;
}

/* line 332, ../sass/_main.scss */
td.day2 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 339, ../sass/_main.scss */
td.day3 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 346, ../sass/_main.scss */
td.day4 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 353, ../sass/_main.scss */
td.day5 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 360, ../sass/_main.scss */
td.day6 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 367, ../sass/_main.scss */
td.day7 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

/* line 374, ../sass/_main.scss */
h2.weekname {
  padding-left: 10px;
}

/* line 378, ../sass/_main.scss */
A {
  text-decoration: none;
  color: #057205;
}

/* line 382, ../sass/_main.scss */
A:visited {
  color: #057205;
}

/* visited link */
/* line 383, ../sass/_main.scss */
A:hover {
  color: #057205;
}

/* mouse over link */
/* line 384, ../sass/_main.scss */
A:active {
  color: #057205;
}

/*------------------------------------------*/
/* line 389, ../sass/_main.scss */
div.container div.add_icon {
  text-decoration: none;
  color: black;
}

/* line 396, ../sass/_main.scss */
i.desc {
  color: darkgray;
  text-align: center;
}

/* line 403, ../sass/_main.scss */
b.start_time {
  padding: 2px;
}

/* line 408, ../sass/_main.scss */
#edit {
  color: #b9def0;
  text-align: end;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}

/* line 417, ../sass/_main.scss */
#delete {
  color: red;
  text-align: end;
  font-size: 14px;
}
