.container {
  //width: 500px;
  //height: 500px;
  margin: 10px;
}
.fc-event-title{
  font-size: 12px;
}
.bg-color{
  background-color: #d5f9c1;
}

div.calendar_list{
  margin-bottom: 10px;
}

div.forms{
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.calendar{
  margin: 10px;
  table-layout: fixed;
}

#kalendar-bgd{
  width:100%;
  height: 10%;
}

#cal_name{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 70px;
}


#descIcons{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

//Login page
#web2py_user_h2{
  vertical-align: middle;
  text-align: center;
}
#web2py_user_form, div.col-lg-12, div.col-lg-6, div.col-md-12{
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


.navbar-header{
  height: 50px;
}
//overrides bootstraps default settings. Makes header, and login look weird.
.container-fluid,div.col-md-12, nav.navbar,nav.navbar-inverse, nav.navbar-fixed-top{
  padding: 0px;
  padding: 0px;
  margin: 0px;
  margin: 0px;
}

.container-flex{
  border-top: 1px solid gainsboro;
  margin: 150px 0px 0px 0px;
  padding:20px;
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
}

#descTd{
  padding: 30px;
  text-align: center;
  vertical-align: middle;

}
.descEvents, .descCalendars{
  border-right: 2px solid gray;
}
//https://bootstrapbay.com/blog/bootstrap-button-styles/
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/
.btn-xs {
  font-size: 12px;
  margin:2px;
  line-height: .4;
  line-width:1;
  padding:10px 12px;
  border-radius: 1px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #057205;
  background-color: #23bd23;
  border-color: #006400;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #057205;
  background-color: #2f982f;
  border-color: #2f982f;
}

.btn-info {
  color: #057205;
  background-color: #0ca50c;
  border-color: #006400;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #057205;
  background-color: #006400;
  border-color: #006400;
}

.btn-default {
  color: #057205;
  background-color: #0ca50c;
  border-color: #006400;
  margin: 6px 12px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #057205;
  background-color: #006400;
  border-color: #006400;
}
/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
    margin-bottom: 10px;
}
.btn-primary.outline {
    border: 2px solid #73d473;
    color: #73d473;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #068906;
    border-color: #068906;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #006400;
    color: #006400;
    box-shadow: none;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #006400;
    margin-bottom:5px;
    margin-left: 10px;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #075607;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
/*---index if user is not logged in----*/
#kalendar-logo{
  margin:50px auto 10px auto;
  display: block;
  width:60%;
  background-position: 0px -500px;
}

#kalendar-logo-1{
  margin:10px auto 10px auto;
  display: block;
  width:20%;
  background-position: 0px -400px;
}
#kalendar-logo-2{
  margin:5px auto 5px auto;
  display: inline;
  width:12%;
  background-position: 0px -200px;
}

#nav-logout{
  text-decoration: none;
  font-size: 14px;
  color: white;
  text-align: right;
  margin:5px auto 5px auto;
  position:fixed;
  top: .5em;
  right: 1em;
  position: absolute; /*ie6 */
}

#catchphrase{
  display: block;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50px;
}

div.main_login{
  text-align: center;

}

div.main_btn{
  text-align: center;
}

div.main_btn_index{
  text-align: center;
  margin-top:50px;
}
#main_btn{
  text-align: center;
  margin-top:50px;
}

#ractive_btn{
  text-align: center;

}

.no-cals{
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  color: whitesmoke;
  margin: 0px auto;
  text-shadow: 4px 2px 0px #348534;
}

#i_title{
  font-size: 22px;
  color: #0d560d;
}
#i_time{
  font-size: 12px;
}
#i_desc{
  font-size: 12px;
}

th.day1,th.day2,th.day3,th.day4,th.day5,th.day6,th.day7{
  border: 2px solid darkgreen;
  text-align: center;
}
td.buttons{
  margin:10px;
  text-align: left;
  margin-left: 20px;
  vertical-align: middle;
  position: inherit;
}

td.day1{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
}
#day1_ev{
  margin: 5px;
  background-color: #adf2ad;
}
td.day2{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
td.day3{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
td.day4 {
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
td.day5{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
td.day6{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
 td.day7{
  vertical-align: text-top;
  border: 2px solid darkgreen;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
h2.weekname{
   padding-left: 10px;
 }

A{
  text-decoration: none;
  color: #057205;
}
A:visited {color: #057205;}   /* visited link */
A:hover {color: #057205;}     /* mouse over link */
A:active {color: #057205;}
/*------------------------------------------*/

//Add icon in weekview.
div.container{
  div.add_icon{
    text-decoration: none;
    color: black;
  }
}

//Description of event. WeekView.
i.desc{
  color: darkgray;
  text-align: center;

}

//Start time of event. Weekview.
b.start_time{
  padding: 2px;
}

//Edit icon. Weekview.
#edit{
  color:#b9def0;
  text-align: end;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}

//Delete icon. Weekview.
#delete{
  color:red;
  text-align: end;
  font-size: 14px;
}
